body {
margin:0;
padding:0!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
*/

.nav-paisas {
    background-color: darkgreen !important; 
}

.nav-paisas .navbar-nav > li > a {
        color: white !important;
    }

.nav-paisas .navbar-nav > li > a:hover {
     background-color: green;
      /*color: darkgreen !important;*/
}
.navbar-brand {
    color:white
}
.navbar-brand:hover {
    color:white
}


/*.modal-dialog {
    margin-top: 25vh !important;
}*/

@media (min-width: 768px) and (max-width: 2250px) {
    .img-logo {
        width: 60%;
    }
    .car, .item, .img_c {
        width: 100%;
        height: 100% !important;
    }
}



@media (min-width: 768px) and (max-width: 2250px) {
    .img-logo {
        width: 60%;
        margin: 0;
        padding: 0
    }

    .contenedor {
        width: 100%;
        height: 100vh;
        border: 0 !important;
        padding: 0 !important;
    }

    .quienes_somos {
        height: 95vh;
    }

    .contacto {
        height: 95vh;
        border: 0 !important;
        padding: 0 !important;
    }

    .nav-paisas {
        height: 7vh;
    }
       .nav-paisas .navbar-nav > li > a {
        height: 7vh;
       }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color:green
    }
    /*.quienes_somos {
        padding-top:5em;
    }
    #contacto {
        padding-top: 5em;
    }*/
    .img-quienes {
        padding: 5em 1em 1em 1em;
    }

    .position-absolute {
        background-color: rgba(255, 255, 255, 0.70);
        padding: 2em;
        position: absolute
    }

    .carousel-caption {
        margin-bottom: 20vh;
    }

    .img-sugerecia {
        padding: 4% !important;
    }

    .sugerencia {
        height: 80vh;
        margin-top: 3em;
    }

    .lista-sugerencias {
        height: 80vh;
        margin-top: 5em;
    }

    .login-panel {
        padding-top: 20vh;
        /*margin-left: 40%;*/
    }


    /*stilos titulos*/
    .quienes-somos {
        font-family: "Arial Black", Gadget, sans-serif;
        /*text-shadow: -1px 0px 1px #000000;
        text-shadow: -1px 0px 5px #000000;*/
        font-size: 60px;
        letter-spacing: 0.4px;
        word-spacing: 3px;
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: small-caps;
        text-transform: uppercase;
        padding-top: 0.5em;
    }

    .contacto-titulo {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 60px;
        letter-spacing: 0.4px;
        word-spacing: 3px;
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: small-caps;
        text-transform: uppercase;
        padding-top: 0.5em;
    }
    .titulo-quienes-somos {
        margin-top: 1em;
        background-color: rgba(255, 255, 255, 0.10);
        color: white;
        text-shadow: -1px 0px 1px #000000;
        border-radius: 10px 40px;
        font-size: 2em;
        font-family: Montserrat, Gadget, sans-serif;
        letter-spacing: -1.2px;
        word-spacing: -1.4px;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        text-align: justify
    }
    .car, .item, .img_c {
        width: 100%;
        height: 100% !important;
    }

}
@media (max-width: 768px) {

    .car, .item, .img_c {
        width: 100%;
        height: auto !important;
    }

    .login-panel {
        padding-top: 5vh;
    }
    .inicio {
        padding-top: 4vh;
        /*height:60vh;*/
    }
    .titulo-quienes-somos {
        margin-top: 2em;
        background-color: rgba(255, 255, 255, 0.60);
        border-radius: 10px;
        color: black;
    }
    .quienes-somos {
        font-size: 3em;
        font-family: "Arial Black", Gadget, sans-serif;
        letter-spacing: 0.4px;
        word-spacing: 3px;
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: small-caps;
        text-transform: uppercase;
        padding-top: 0.5em;
    }

    .contacto-titulo {
        font-size: 3em;
        font-family: "Arial Black", Gadget, sans-serif;
        letter-spacing: 0.4px;
        word-spacing: 3px;
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: small-caps;
        text-transform: uppercase;
        padding-top: 0.5em;
    }

    .img-quienes {
        padding: 1em 1em 1em 1em;
    }
    .img_c {
        width: 100%;
        height: 100%;
    }
}
    .lista-sugerencias {
        margin-top: 5em;
    }

    .form-contacto {
        padding: 1em;
    }

    .mapa {
        height: 40em;
    }

    .alert {
        padding: 5px;
    }

    .row-queja {
        width: 20%
    }


.cabecera {
    background-color: #f8f8f8;
    color: dimgray;
}


    table.dataTable tbody th {
        padding: 0px 5px;
    }

    table.dataTable tbody td {
        color: black;
    }


body {
    font-family: 'Roboto', sans-serif !important;
}
.container-fluid {
   padding-left:0;
   padding-right:0;
}


.bs-callout-green {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: green;
}

/*Nuevo Stilo */

body, html {
    height: 100%;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main {
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

    .main {
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main {
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a {
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }

        nav.sidebar li {
            width: 100%;
        }

        nav.sidebar:hover {
            margin-left: 0px;
        }

    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar {
        margin-left: 0px;
        float: left;
    }

        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}


body, html {
    height: 100%;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main {
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

    .main {
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main {
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a {
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }

        nav.sidebar li {
            width: 100%;
        }

        nav.sidebar:hover {
            margin-left: 0px;
        }

    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar {
        margin-left: 0px;
        float: left;
    }

        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}
  
 


