<div class="container-fluid" style="margin-top:5vh">
    <div class="col-md-8">
        <h3>Gestion de Resolucion caso No. 23</h3>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div>
                    <i class="media-object fa fa-user" aria-hidden="true"></i> William A. Gonzalez Tellez
                    <span class="pull-right">
                        <strong>Tipo: </strong> Empleado
                        <strong>Area: </strong> Informatica
                    </span>

                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12" style="padding:1em">
                    <p class="text-left text-info">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum</p>
                </div>

                <div class="col-md-6">
                    <span>Responsable:</span>
                    <div class="input-group-sm">
                        <select class="chosen" multiple="true" style="width:100%;">
                            <option>Choose...</option>
                            <option>jQuery</option>
                            <option selected="selected">William Gonzalez</option>
                            <option>Kevin S.</option>
                            <option selected="selected">jose Romero</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <span>Observadores:</span>
                    <div class="input-group-sm">
                        <select class="chosen" multiple="true" style="width:100%;">
                            <option>Lisseth Picado</option>
                            <option selected="selected">William Gonzalez</option>
                            <option>Kevin S.</option>
                            <option selected="selected">jose Romero</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <i class="fa fa-gavel" aria-hidden="true"></i> <strong>Responsable de Resolución: </strong>Rodolfo Jarquin</span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" style="padding:1em">
                    <div class="form-group">
                        <textarea rows="7" cols="50" class=" form-control">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum</textarea>
                    </div>
                    <div class="form-inline col-sm-6 col-xs-6">
                            <select class="form-control">
                                <option value="1">Pendiente</option>
                                <option>No Aplica </option>
                                <option>En Proceso</option>
                                <option>Resuelto </option>
                            </select>
                    </div>
                    <button class="btn btn-success pull-right">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    @*Comentarios*@
    <div class="col-md-4">
        <h3 style="text-overflow: ellipsis;">Comentario de los Observadores</h3>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-users" aria-hidden="true"></i> Comentarios</div>
            <div class="panel-body pre-scrollable"style="min-height:65vh">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="..." alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">William Gonzalez</h4>
                        um es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)s
                    </div>
                </div>
                <hr />
                <div class="media">
                    <div class="media-left ">
                        <a href="#">
                            <img class="media-object" src="..." alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">William Gonzalez</h4>
                        um es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)s
                    </div>
                </div>
                <hr />
                <div class="media ">
                    <div class="media-right pull-right ">
                        <a href="#">
                            <img class="media-object" src="..." alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">William Gonzalez</h4>
                        um es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)s
                    </div>
                </div>


            </div>

            <div class="panel-footer">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Ingrese su comentario!">
                            <a id="btnEnviarComentario" class=" input-group-addon btn btn-success"><i class="fa fa-comment text-warning" aria-hidden="true"></i></a>
                        </div>
                        <span class="text-info">Vas a comentar como <strong>William A. Gonzalez</strong></span>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>





@section scripts {
    <script src="~/Scripts/js/chosen.jquery.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery(".chosen").data("placeholder", "Select Frameworks...").chosen();
        });
    </script>

}