
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_Panel_Layout.cshtml";
    HttpCookie _UserInfo = Request.Cookies["UserInfo"];
}

<h2>Panel</h2>
<div class="col-md-5">
    <div class="text-center">
        <h4><strong>Quejas y sugerencias</strong></h4>
    </div>
    <div class="panel panel-default" style="margin-top:0.3em">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div id="container" style="height: 250px;"></div>
            @*<div id="myfirstchart" style="height: 250px;"></div>*@
        </div>
    </div>
</div>




@section Scripts {

    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/highcharts.src.js"></script>

    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/series-label.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/export-data.js"></script>

    @*<script type="text/javascript" charset="utf8" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>*@
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


    <script>
        $(document).ready(function () {
            Graficos();
            setInterval(Graficos, 10000);
            bienvendio();
            
        });
        function bienvendio() {

            if (@ViewBag.Login == 1) {
                new PNotify({
                    title: 'Mensaje de SAC ',
                    text: 'Bievenido! @_UserInfo["Usuario"]  ^_^',
                    type: 'success',
                    styling: 'bootstrap3'
                });
            }
        }

        function Graficos() {
            $.ajax({
                url: "/Indicadores/Graficos/",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                type: "POST",
                success: function (result) {
                    if (result != 'undefined') {
                        Highcharts.chart('container', {

                            title: {
                                text: 'Historicos Por meses'
                            },

                            subtitle: {
                                text: 'Source: Paisas SAC 2018'
                            },

                            yAxis: {
                                title: {
                                    text: 'Quejas o Sugerencias'
                                }
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'
                            },
                            xAxis: {
                                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                            },
                            series:
                                [
                            {
                                name: 'Clientes',
                                data: result[0]
                              },
                            {
                                name: 'Empleados',
                                data: result[1]
                                    },
                             {
                                name: 'Proveedores',
                                data: result[2]
                              },
                                ],
                            responsive: {
                                rules: [{
                                    condition: {
                                        maxWidth: 500
                                    },
                                    chartOptions: {
                                        legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                        }
                                    }
                                }]
                            }

                        });
                    }
                },
                error: function () {
                }
            });
        }

    </script>
}
